<ion-view view-title="Settings">



            



            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-settings" ng-click="settings()">
                </button>
            </ion-nav-buttons>
			  
				
	        
    <ion-content ng-class="">
       
	   <!--
	   
	 
	    <div class="hero profile">
            <div class="content proc">
				
				   <div class="ava" style="background-image: url({{photoUrl}});"></div>
				    
		   
                <h3><a class="stab">Change profile picture</a></h3>
               
            </div>
		
			
			
        </div>
		
		-->
		
		
		
		
	    
		
    <div class="list">
         <div class="item border item-divider title item-custom">
         Account
         </div>
         <a class="item item-icon-left settings-option">
           <i class="icon ion-edit"></i>
          My Details
         </a>

		 
         <a class="item item-icon-left settings-option">
           <i class="icon ion-email"></i>
          Notifications
         </a>
         
		 
		 
         <a class="item item-icon-left settings-option">
           <i class="icon ion-ios-email"></i>
          Interest
         </a>
		 
         <div class="item item-divider title item-custom">
           More
         </div>
         <a class="item border item-icon-left settings-option" ng-click="openServices()">
           <i class="icon ion-ios-information-outline"></i>
           Terms of Service
         </a>
         <a class="item border item-icon-left settings-option" ng-click="openPrivacy()">
           <i class="icon ion-ios-locked-outline"></i>
           Privacy Policy
         </a>
         <a class="item border item-icon-left settings-option">
           <i class="icon ion-ios-help-outline"></i>
           Help
         </a>
         <a class="item border item-icon-left settings-option" ui-sref="facebook-sign-in">
           <i class="icon ion-ios-close-outline"></i>
           Sign Out
         </a>
       </div>
 
    </ion-content>
</ion-view>
