<ion-view view-title="Add Event">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

      <div class="list events padding">
          <label class="item item-input item-floating-label">
              <span class="input-label">Event Name</span>
              <input type="text" placeholder="Event Name" ng-model="e.name">
          </label>
		  
          <label class="item item-input item-floating-label">
              <span class="input-label">Event Description</span>
              <input type="text" placeholder="Event Description" ng-model="e.desc">
          </label>
		  
		  
          <label class="item item-input item-floating-label">
              <span class="input-label">Event Date</span>
              <input type="date" placeholder="Event Date" ng-model="e.date">
          </label>
		  
		  
          <label class="item item-input item-floating-label">
              <span class="input-label">Event Location/Event</span>
              <input type="text" placeholder="Location/Event" ng-model="e.venue">
          </label>
		  
		
          <label class="item item-input item-select">
              <div class="input-label">
                  <p>Event Type</p>
              </div>
		   <select ng-model="e.type" ng-model-options="{trackBy: '$value.id'}">
		   	<option ng-value="item" ng-repeat="item in types">{{ item.type }}</option>
			
		   </select></label>
		  
		
          <button class="button button-block button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="submit()">
              Submit
          </button>
      </div>
    </ion-content>
</ion-view>
