<ion-view view-title="Add Event">
  	            
	<ion-content>
	<form name="event"  ng-controller="AddEventCtrl" novalidate=""> 
	   <ion-slide-box show-pager="true" ng-init="disableSwipe()">
	     <ion-slide>
	      
  	   	 <div class="list events padding">
                  
            <label class="item item-input item-floating-label">
  	                 <span class="input-label">Event Name</span>
  	                 <input type="text" placeholder="Event Name" ng-model="data.nameEvent" required>
  	             </label>
		  

		  
		  
		  
  	             <label class="item item-input item-floating-label">
  	                 <span class="input-label">Event Description</span>
  	                 <textarea placeholder="Event Description" ng-model="data.desc" class = "item-text-wrap" required></textarea>
  	             </label>
  	   		   <br/>
  	   		   <br/>

          
  	   		  <label class="item item-input item-select">
  	                 <div class="input-label">
  	                     <p>Event Type</p>
  	                 </div>
			
  	   			        <select ng-model="data.type" ng-model-options="{trackBy: '$value.id'}">
  	   			          <option ng-repeat="item in types" value="{{item.type}}">{{item.type}}</option>
  	   			        </select>

  	   		  </label>
  	   		   <br/>
		
		  
  	             <label class="item item-input">
  	                <div class="input-label">
  	                     <p>Event Date</p>
  	                 </div>
  	                 <input type="date" placeholder="Event Date" ng-model="data.date">
  	             </label>
		  
		  
  	             <label class="item item-input item-floating-label">
  	                 <span class="input-label">Event Locattion</span>
  	              
				    <div>selection is: {{data.venue}}</div>
				    <div>details object is: {{chosenPlaceDetails}}</div>
					<div>{{data.latitude}} and {{longitude}}</div>
<div><input type="text" ng-model="data.venue" details="chosenPlaceDetails" lat="data.latitude" lng="data.longitude" placeholder="Search Location" data-tap-disabled="true" ng-change='disableTap()' googleplace/></div>
				
				  <input type="hidden" placeholder="Latitude..." ng-model="data.latitude">
		
                  <input type="hidden" placeholder="Longitude..." ng-model="data.latitude">
				 
  	             </label>		  
		
  	            	   <br/>
  	   			   <br/>

  	   	 
  	             <button class="button button-block button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="next()"> Next
  	             </button>
  	         </div>
		   
	     </ion-slide>
	     <ion-slide>
	      <div class="list events padding">
			  
			  
              <div class="content">
              
				
  				 <button class="button button-icon icon ion-camera" ng-click="doGetImage()"></button>
				
				
              </div>
			  
	         <br/>  <br/>  <br/>  <br/>  <br/>
			 <div class ="button-bar events-button">
			 <button class="button button-outline button-assertive" ng-click="previous()">Previous</button>
             <button class="button button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="addEvent()"> Next
             </button>
		 </div>
	       </div>
	     </ion-slide>
	     <ion-slide>
 	      <div class="list events padding">
			  
			  
               <div class="content">
              
				
   				 <p>Cheers , Submit Event :)</p>
				
				
               </div>
			  
 	         <br/>  <br/>  <br/>  <br/>  <br/>
 			 <div class ="button-bar events-button">
 			 <button class="button button-outline button-assertive" ng-click="previous()">Previous</button>
              <button class="button button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1"> Submit
              </button>
 		 </div>
 	       </div>
	     </ion-slide>
		 
		 
	   </ion-slide-box>

	 
	 
	  </form>
    </ion-content>
</ion-view>
