<ion-view view-title="Change Password">
    <ion-content class="padding">
	
	<form>
	    <fieldset>
	        <legend>Change Password</legend>

	        <label class="item item-input item-floating-label">
	            <span class="input-label">Old Password:</span>
	            <input type="password" ng-keypress="clear()" ng-model="data.oldpass"/>
	        </label>

	        <label>
	            <span>New Password:</span>
	            <input type="password" ng-keypress="clear()" ng-model="data.newpass"/>
	        </label>

	        <label>
	            <span>Confirm New Password:</span>
	            <input type="password" ng-keypress="clear()" ng-model="data.confirm"/>
	        </label>

	        <button ng-click="changePassword(data.oldpass, data.newpass, data.confirm)">change password</button>

	        <p class="error" ng-show="err">{{err}}</p>
	        <p class="good" ng-show="msg">{{msg}}</p>
	    </fieldset>
	</form>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<form name="changePasswordForm" novalidate="" ng-submit="changePassword(changePasswordForm)"
	      class="list card no-margin">

				<ion-input class="item item-input item-stacked-label"
					ng-class="{ 'has-errors' : changePasswordForm.oldPassword.$invalid && changePasswordForm.$submitted,
	        'no-errors' : changePasswordForm.oldPassword.$valid && changePasswordForm.$submitted}">
					<ion-label >Old Password</ion-label>
					<input type="password" name="oldPassword" placeholder="Your last password"
	          ng-model="data.oldPass" required />
				</ion-input>

				<div class="error-container last-error-container"
	        ng-show="changePasswordForm.oldPassword.$error && changePasswordForm.$submitted"
					ng-messages="changePasswordForm.oldPassword.$error">
					<div class="error" ng-message="required">
			      <i class="ion-information-circled"></i>
			      This field is required
			    </div>
				</div>

				<ion-input class="item item-input item-stacked-label"
					ng-class="{ 'has-errors' : changePasswordForm.newPassword.$invalid && changePasswordForm.$submitted,
	          'no-errors' : changePasswordForm.newPassword.$valid && changePasswordForm.$submitted}">
					<ion-label >New Password</ion-label>
					<input type="password" name="newPassword" placeholder="Your new password"
	          ng-model="data.pass" required />
				</ion-input>

				<div class="error-container last-error-container"
	        ng-show="changePasswordForm.newPassword.$error && changePasswordForm.$submitted"
					ng-messages="changePasswordForm.newPassword.$error">
					<div class="error" ng-message="required">
			      <i class="ion-information-circled"></i>
			      This field is required
			    </div>
				</div>

				<ion-input class="item-input padding">
					<input type="submit" class="button button-positive" value="Change Password"
	          ng-disabled="changePasswordForm.$invalid && changePasswordForm.$submitted">
				</ion-input>

			</form>

		</ion-content>

   
</ion-view>
