<ion-view align-title="left" class="auth-view" cache-view="false">

<ion-nav-bar class="create">
  <ion-nav-back-button class="button-clear button-pad"
    ng-click="back()">
     Back
  </ion-nav-back-button>
</ion-nav-bar>


<ion-content scroll="false" class="signup">
  <div class="row form-heading">
	      <div class="col">
	        <div class="col col-bottom">
	          <button ng-click="faceSign()" class="button button-large button-border icon-left ion-social-facebook button-positive-900 face-box"> Sign Up with Facebook</button>
	        </div>
	      </div>
	    </div>
	    <div class="row form-separator">
	      <hr class="separator-line2"/>
	      <span class="separator-mark">OR</span>
	      <hr class="separator-line2"/>
	    </div>
	  
	  
	  
	<div class="list" ng-controller="createAccountCtrl">
		<form>
        <label class="item item-input item-custom email-input">
        <input type="text" placeholder="Email" ng-model="data.email" hightlight-color="assertive" required>
        </label>
		
        <label class="item item-input item-custom password-input" show-hide-container>
        <input type="password" placeholder="Password" name="password" ng-model="data.pass" show-hide-input required >
        </label>
		
		<div class="form-row">
		<div class="form-line">
	    <label class="item item-input item-custom">
	    <input type="text" placeholder="First Name" name="firstName" ng-model="data.firstName" hightlight-color="assertive" required>
	    </label>
	    </div>
	    <div class="form-line"> 
		<label class="item item-input item-custom item-border">
	    <input type="text" placeholder="Last Name" name="lastName" ng-model="data.lastName" hightlight-color="assertive" required>
	    </label>
	    </div>
				
		</div>	
		<div class="padding form-pad2">
		<div class="error" ng-if="errorMessage" ng-bind="errorMessage"></div>
					
	            <br/>
				
	  <button class="button button-block button-balanced ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="createAccount(data.email,data.pass,data.firstName,data.lastName)">
	             Submit
				</button>
       </div>

				</form>
	            </div>
	  

    </ion-content>
</ion-view>

