<ion-view view-title="Edit Details">
				
	        
    <ion-content ng-class="">
       
	 
	   
	 
	    <div class="hero profile">
            <div class="content proc">
				
				   <div class="ava" style="background-image: url({{photoUrl}});"></div>
				    
		   
                <h3><a class="stab">Change profile picture</a></h3>
               
            </div>
		
			
			
        </div>
		
		
		<div class="list">
			
            <label class="item item-input item-custom">
               
                <input type="text" placeholder="Email">
            </label>
			
			<div class="form-row">
			<div class="form-line">
		    <label class="item item-input item-custom">
		      
		      <input type="text" placeholder="First Name">
		    </label></div>
		               
		    <div class="form-line"> 
			  <label class="item item-input item-custom item-border">
		     
		      <input type="text" placeholder="Last Name">
		      </label></div>
					</div>	
					
		            <label class="item item-input item-custom">
               
		                <input type="tel" placeholder="Phone">
		            </label>
					
					
		            <label class="item item-input item-custom">
               
		                <input type="text" placeholder="Email">
		            </label>
					
		           
						
					<div class="padding form-pad">
					      
		                <br />
		               
		                <button class="button button-block button-balanced ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
		                    Submit
		                </button></div>
		            </div>
 
    </ion-content>
</ion-view>
