<ion-view view-title="Edit Details">
				
	        
    <ion-content ng-controller="editDetailsCtrl">
       
	 
	   
	 
	    <div class="hero profile">
	
            <div class="content proc">
				
				   <div class="ava" style="background-image: url({{photoUrl}});"></div>
				   
				    
		   
                <h3><a class="stab" ng-click="showz()">Change profile picture</a></h3>
				

            </div>
		
			
			
        </div>
		
		
		<div class="list">
			<form>
            <label class="item item-input item-custom">
            <input type="text" placeholder="Email" ng-model="email">
            </label>
			
			<div class="form-row">
			<div class="form-line">
		    <label class="item item-input item-custom">
             <input type="text" placeholder="Name" ng-model="firstname">
		    </label>
		    </div>       
		    <div class="form-line"> 
            <label class="item item-input item-custom item-border">
            <input type="text" placeholder="Last Name" ng-model="lastname">
            </label>
		    </div>
            </div>	
					
		         
					
		           
						
					<div class="padding form-pad">
					      
		                <br />
		               
		                <button class="button button-block button-balanced ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="updateProfile(email,firstname,lastname)">
		                    Save Changes
		                </button>
					</form>
					</div>
		            </div>
 
    </ion-content>
</ion-view>
