<ion-modal-view class="auth-view modal-view">





	<ion-header-bar class="create">
	<span class="right-buttons">
		
		
		<a class="pads button button-clear" ng-click="hideForgotPassword()">Cancel</a>
		</span>
	</ion-header-bar>
	
	

    

<ion-content scroll="false">

<div class="row form-heading">
      <div class="col">
				<h3 class="form-sub-title">Please enter your email address and we'll send you an email to reset your password</h3>
			</div>
		</div>
	  
	<div class="list" ng-controller="ResetCtrl">
		<form>
        <label class="item item-input item-custom email-input">
        <input type="text" placeholder="Email Address" ng-model="data.email" required>
        </label>
		
       
		

				<div class="padding form-pad">
					
				<div class="error" ng-if="errorMessage" ng-bind="errorMessage">
				      </div>
	            <br/>
	            <button class="button button-block button-balanced ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="reset(data.email)">
	            Remind Me :)
				</button>
                </div>

				</form>
			<p ng-show="error" class="message error">{{error}}</p>
			<p ng-show="message" class="message">{{message}}</p>
	            </div>
	  

    </ion-content>
</ion-modal-view>