<ion-view align-title="left" class="auth-view" cache-view="false">

<ion-nav-bar class="create">
  <ion-nav-back-button class="button-clear button-pad"
    ng-click="back()">
     Back
  </ion-nav-back-button>
</ion-nav-bar>


<ion-content scroll="false">

	
	    <div class="row form-heading">
	      <div class="col">
	        <div class="col col-bottom">
	          <button ng-click="faceSign()" class="button button-large button-border icon-left ion-social-facebook button-positive-900 face-box"> Sign In with Facebook</button>
	        </div>
	      </div>
	    </div>
	    <div class="row form-separator">
	      <hr class="separator-line2"/>
	      <span class="separator-mark">OR</span>
	      <hr class="separator-line2"/>
	    </div>
	  
	  
	  
	<div class="list">
		<form>
        <label class="item item-input item-custom email-input">
        <input type="text" placeholder="Email">
        </label>
		
        <label class="item item-input item-custom">
        <input type="text" placeholder="Password">
        </label>
		

				<div class="padding form-pad">
	            <br/>
	            <button class="button button-block button-balanced ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
	             Submit
				</button>
                </div>

				</form>
				
				<div class="alternative-actions">
				          <a class="forgot-password button button-clear button-block" ng-click="showForgotPassword()">
				            Forgot your password?
				          </a>
				        </div>
	            </div>
	  

    </ion-content>
</ion-view>

<ion-modal-view class="auth-view modal-view">
	<ion-header-bar>
		<h1 class="title modal-title">Recover password</h1>
		<a class="button button-clear" ng-click="forgot_password_modal.hide()">Cancel</a>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="row form-heading">
      <div class="col">
				<h3 class="form-sub-title">Enter the email for your account</h3>
			</div>
		</div>
		<div class="row form-wrapper">
      <div class="col">
				<form name="recover_password_form" class="" novalidate>
					<div class="form-fields-outer list list-inset">
						<label class="item item-input">
							<input type="email" placeholder="Email" name="email" ng-model="user.email" required>
						</label>
						<button type="submit" class="recover-password button button-block" ng-click="requestNewPassword()" ng-disabled="recover_password_form.$invalid">
							Recover
						</button>
						<p ng-show="error" class="message error">{{error}}</p>
						<p ng-show="message" class="message">{{message}}</p>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-modal-view>