<ion-view view-title="Login" align-title="left" hide-nav-bar="true" cache-view="false" class="welcome-view">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover; scroll="false"">
          <div class="top-content row">
		<div class="hero no-header flat">
            <div class="content">
                <div class="app-icon">
                	<img src="/img/logo.png">
                </div>
             
            </div>
        </div>
		 
		       </div>
		  
		  <div class="bottom-content row">
		         <div class="col col-bottom">
		           <button ng-click="faceSign()" class="button button-large button-border icon-left ion-social-facebook button-positive-900 face-box">Facebook</button>
				   <button class="button button-large button-block button-stable" ui-sref="app.emailLogin">
				                     Sign In with email?
				               </button>
				   
				   
				  <div class="row form-separator row-sp">
				        <span class="separator-mark">OR</span>
				      </div>
   				   <button class="button button-large button-block button-clear button-stable sign-sp" ui-sref="app.createAccount">
   				                     Sign Up with Email
   				               </button>
		         </div>
		       </div>
		

		
    </ion-content>
</ion-view>