<ion-view view-title=" My Profile">



<ion-nav-buttons side="right">
                        <button class="button button-icon button-clear ion-settings" ng-click="settings()">
                        </button>
</ion-nav-buttons>
			  
				
	        
    <ion-content ng-class="{expanded:$scope.isExpanded}">
       
	   
	   
	   
	    <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
				
				
				<div class="avatar">       
				   
				   <div class="avatar" style="background-image: url({{photoUrl}});"></div>
				    
		      </div>
                <h3><a class="light">Daenerys Targaryen</a></h3>
                <h4>dragon_mommy</h4>
            </div>
			
			
			
			
			
			
			
			
			
		<!-- 
			<div class="col col-center user-data">
			               
			     <div class="user-image-outer">                  
			         <pre-img ratio="_1_1" helper-class="rounded-image">
					   <img class="user-image" ng-src="{{user.picture}}" spinner-on-load>
				     </pre-img>           
			      </div>              
               <h2 class="user-name">{{user.name}}</h2>'
			   <h3><a class="light">Daenerys Targaryen</a></h3>
			   <p class="user-resume">                 
				<b>{{user.followers}}</b> Followers <b>{{user.following}}</b> Following</p>
              </div> -->
			
			
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.eventCat" class="tab-item">
                <i class="icon ion-calendar"></i> Events
            </a>
			<a ui-sref="app.categories" class="tab-item">
                <i class="icon ion-android-people"></i> Categories
            </a>
        </div>
		
		
		
		<p class="status" ng-hide="loggedIn">Welcome. You are not <a href="#/login">logged in</a></p>
		
					
        <h4 class="content padding single-padding-x"> My Profile</h4>
 

 	<div class="list card">
		
		<a ui-sref="app.changeEmail" class="item item-icon-left"><p>test</a>
			
			
			
 		<a ui-sref="app.changeEmail" class="item item-icon-left">
 			<i class="icon dark ion-email"></i>
 			Change your email
 		</a>

 		<a ui-sref="app.changePassword" class="item item-icon-left">
 			<i class="icon dark ion-lock-combination"></i>
 			Change your password
 		</a>

		<a ui-sref="app.login">
		<button class="button button-small button-balanced ink">
		                Log out
		            </button>
					<a/>
					
					
		
 	</div>

 
    </ion-content>
</ion-view>
