<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Daenerys Targaryen</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.eventCat" class="tab-item">
                <i class="icon ion-calendar"></i> Events
            </a>
			<a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
		<p class="status good" ng-show="loggedIn">Hello! You are logged in with id {{loggedIn.email}}.</p>
		<p class="status" ng-hide="loggedIn">Welcome. You are not <a href="#/login">logged in</a></p>
		
					
        <h4 class="content padding single-padding-x"> My Upcoming Events</h4>
        <div class="list animate-fade-slide-in-right">
		<div class="card">
		  <div class="item item-text-wrap">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>Tyrion Lannister</h2>
                <p>B.A.M.F. imp</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
		  </div>
		</div>
		<div class="card">
		  <div class="item item-text-wrap">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>Tyrion Lannister</h2>
                <p>B.A.M.F. imp</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
		  </div>
		</div>
			
			<div class="card">
			  <div class="item item-text-wrap">
	            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
	                <img src="img/tyrion.jpg">
	                <h2>Tyrion Lannister</h2>
	                <p>B.A.M.F. imp</p>
	                <i class="icon ion-chatbubble muted"></i>
	            </a>
			  </div>
			</div>
			
			
        </div>
    </ion-content>
</ion-view>
