<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Daenerys Targaryen</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.eventCat" class="tab-item">
                <i class="icon ion-calendar"></i> Events
            </a>
			<a ui-sref="app.categories" class="tab-item">
                <i class="icon ion-android-people"></i> Categories
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
		
		
		<p class="status good" ng-show="loggedIn">Hello! You are logged in with id {{user.uid}}.</p>
		<p class="status" ng-hide="loggedIn">Welcome. You are not <a href="#/login">logged in</a></p>
		
					
        <h4 class="content padding single-padding-x"> My Events</h4>
        <div class="list">
            <a class="item item-avatar item-icon-right"  ng-repeat="event in events | limitTo:limit" href="#/app/detail/{{event.$id}}">
                <img src="img/jon-snow.jpg">
                <h2>{{event.nameEvent}}</h2>
				<p>
					
				
					
		         {{event.date | date:'medium'}}<br>
				 {{event.desc | limitTo:letterLimit}}<br>
				 {{event.venue}}
		       </p>
                 <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
			
		
			
			
        </div>
    </ion-content>
</ion-view>
