<ion-view view-title="Sign Up" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon">
                	<img src="/img/logo.png">
                </div>
             
            </div>
        </div>
<div class="lists social-list ">
	<div class="social-container">

		<div class="button-bar">
		<button ng-click="facebook()" class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button> <br>          
		<button ng-click="twitter()" class="button button-small button-border icon-right ion-social-twitter button-calm-900"> Twitter</button>       
	
	</div>
	

   <div class="row form-separator">
      <hr class="separator-line">
      <span class="separator-mark">OR</span>
      <hr class="separator-line">
    </div>
	
	
	<div class="login">
    <button class="button button-block button-balanced ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="login()"> Sign In
    </button>
   
   </div>
	
	
	
	
	
</div>
		
		
</div>	

	
    </ion-content>
</ion-view>



