<ion-tabs class="tabs-icon-only tabs-color-active-positive active-tab-{{ activeTab }}" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">

<ion-tab title="Notifications" icon-off="ion-flag" icon-on="ion-flag" ui-sref="tab.eventNear">
    <ion-nav-view name="tab-notifications" class="nav-tab-0"></ion-nav-view>
</ion-tab>

<ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" ui-sref="tab.eventCat">
    <ion-nav-view name="tab-profile" class="nav-tab-1"></ion-nav-view>
</ion-tab>
</ion-tabs>