/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    height: 125px;
    margin: 0 auto;
    width: 125px;
	margin-bottom: 70px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.events-buttons {
    position: fixed;
    bottom: 0;
	
}



.log .item {

    padding-left: 0;
    padding-right: 0;
 }

.lists {
	margin-right: 2rem;
	margin-left: 2rem;
}
/* ----- */

.lists .item  {
    min-height: 42px;
    text-align: left;
    padding: 5px;
	width: 100%;
	color: #000;
}

.lists .item-input {
	color: #000;	
}
.lists input {
	    background-color: rgba(181, 181, 181, 0.6);
	    bottom: 0;
		color: #000;
	    letter-spacing: .25rem;
	    padding: 20px 10px;
	    position: relative;
	    z-index: 1;		
		min-height: 45px;
}

.col {
        width: 100%;
}


	
.bismark { background-color: #406B7D  }
.wild { background-color: #F64B72 }
.green { background-color: #20D2BB }
.bismark { background-color: #406B7D  }
.turquoise { background-color: #55DAC9 }
.helio { background-color: #C975F4 }
.milan { background-color: #FFF985 }


/*
    Form validation CSS
*/
 
/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 2px solid red;
}
 
/** Styling for the password field when an error exists**/
.error-container {
  margin: 0;
}
 
.error {
  padding: 8px 8px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}
 
.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
  border-bottom: 1px solid #B83E2C;
}
 
.no-errors {
  border-bottom: 2px solid green;
}



/** map **/
#map {
width: 100%;
height: 100%;
}
.controls {
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
position: absolute;
line-height: 22px;
}
#pac-input {
background-color: #fff;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 90%;
margin-bottom: 0;
line-height: 15px;
font-weight: bold;
margin-left: 10%;
}
#pac-input:focus {
border-color: #4d90fe;
}
.pac-container {
font-family: Roboto;
}
#type-selector {
color: #fff;
background-color: #4d90fe;
padding: 5px 11px 0px 11px;
}
#type-selector label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}

.expand {
  top: 150px !important;
}
.bar-subheader {
	height: 50px !important;
    top: 75px !important;
}	

.bar-subheader.tab-item {
    padding: 15px !important;
}	

.tab-item.segment {
	font-weight: 600 !important;
	font-size: 15px !important;	
	padding: 15px !important;
}

	
.bar-subheader.tabs.tabs-light {
    border: none;	
}

.item p {
    line-height: 18px;
}	

.slider-slide h3{
color:#fff;
margin-top:10px;
}
.scroll{
height:100%;
}
 .tabbed-slidebox .tsb-icons:after{
display:none !important;
}
.scroll-view.scroll-x {
    overflow-x: hidden !important;  /* default value is 'scroll' */
}

.scroll-view.scroll-y {
overflow-y: hidden !important;
}
.scroll-bar-indicator
{
	display: none !important;
}
	
.bar.bar-header.expanded, .expanded .bar.bar-header {
	height: 50px !important;
}	

.tabbed-slidebox .tsb-icons .scroll a {
    width: auto;
    font-size: 1.1em !important;
    line-height: 2em !important;
}

.tabbed-slidebox .tsb-icons .scroll a.active {
    border-bottom: 3px solid #B71C1C;
}	
	
	
.tabbed-slidebox .tsb-icons .scroll a {
    margin: 0 20px !important;
}

.errorz {
    padding: 10px 16px 0;
    color: red !important;
}
.title {
	    top: -1px !important;
}
.hero.no-header {
    height: 300px !important;
}
.lefty{
	padding-left: 15% !important;
}
